**Connecting to SQL databases with Python packages**

Examples shown with:
- sqlite
- mysql
- postgresql
- SQLAlchemy with mysqlconnector [link](https://www.sqlalchemy.org/features.html)

# Old example (sqlite)

- sqlite is already built in

In [29]:
import sqlite3
import pandas as pd
import numpy as np

In [1]:

# # conn = sqlite3.connect('music.sqlite')
# # cur = conn.cursor()

# # mysql --user=genome --host=genome-mysql.soe.ucsc.edu -A -P 3306 hg38
# # SHOW DATABASES;
# # USE hg38;
# # SHOW TABLES;

# conn = sqlite3.connect('mysql --user=genome --host=genome-mysql.soe.ucsc.edu -A -P 3306 hg38;')    # Added hg38 at end to connect to Db
# cur = conn.cursor()

# # It doesn't recognize the UCSC table from this command for some reason but it recognizes it from shell 
# cur.execute('SELECT * FROM ucscToRefSeq LIMIT 600;')
# ucsc_refseq_sql = pd.read_csv(cur.execute('SELECT * FROM ucscToRefSeq LIMIT 600;'))

chrm_names = pd.read_csv(ref_dir_bed + 'UCSC_to_RefSeq_chromosome_names.txt', sep='|', header=0, skiprows=0)


# Deal with formatting
chrm_names.columns = chrm_names.columns.str.strip()
chrm_names = chrm_names.loc[1:594,['chrom', 'chromStart', 'chromEnd', 'name']]
chrm_names['chrom'] = chrm_names['chrom'].str.strip()
chrm_names['name'] = chrm_names['name'].str.strip()


# Replace names in bed file

bed_ucsc.head()    # file to edit
chrm_names.head()  # reference
bed_ucsc_refseq_chrmname = bed_ucsc.copy()

bed_ucsc_refseq_chrmname['refseq_chrmname'] = None

for ucsc_chrm in chrm_names['chrom']:
    bool_chrm_chrm_names = chrm_names['chrom']==ucsc_chrm
    refseq_chrmname = chrm_names.loc[bool_chrm_chrm_names, 'name'].tolist()[0]
    print(ucsc_chrm, refseq_chrmname)
    bool_chrm = bed_ucsc_refseq_chrmname[0]==ucsc_chrm
    bed_ucsc_refseq_chrmname.loc[bool_chrm, 'refseq_chrmname'] = refseq_chrmname


bed_ucsc_refseq_chrmname[0] = bed_ucsc_refseq_chrmname.copy().loc[:, 'refseq_chrmname']

bed_ucsc_refseq_chrmname.drop('refseq_chrmname', axis=1, inplace=True)


bed_ucsc_refseq_chrmname = pd.read_csv(ref_dir_bed + 'NCBI_RefSeq_GRCh38_frUCSC_190519_refseq_chrmnames.bed', sep='\t', header=None)

bed_ucsc_refseq_chrmname.to_csv(ref_dir_bed + 'NCBI_RefSeq_GRCh38_frUCSC_190519_refseq_chrmnames.bed', sep='\t', index=False, header=False)


# bed_ucsc_refseq_chrmname.head(20)
# bed_ucsc_refseq_chrmname.tail(20)


#  -----------------  Miscellaneous commands that could be useful   ----------------------------


print('head: ', df_biotype_hash_gene.head())
print('tail: ', df_biotype_hash_gene.tail())
print('no. of genes for each biotype: ', df_biotype_hash_gene.groupby('gene_biotype').count()['gene_id'])

df_biotype_hash_gene.to_csv(ref_dir + 'GRCh37_latest_genomic_DL190402_col9_for_biotype_gene_hash.csv')

NameError: name 'pd' is not defined

# UCSC database (mysql)

- mysql.connector had to be installed and followed [this](https://anaconda.org/anaconda/mysql-connector-python)

Some references

https://www.w3schools.com/python/python_mysql_getstarted.asp

http://www.mysqltutorial.org/getting-started-mysql-python-connector/

https://stackoverflow.com/questions/10065051/python-pandas-and-databases-like-mysql

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html

In [ ]:
# sample query that would be run from command line
    
mysql -h genome-mysql.soe.ucsc.edu -ugenome -A -e "select * from ncbiRefSeq limit 2" hg38

In [2]:
import pandas as pd
import numpy as np
import mysql.connector

## Open session and connect

In [33]:
# Connect to server
cnx = mysql.connector.connect(
    host="genome-mysql.soe.ucsc.edu",
    user="genome",
    database="hg38")

# note I guessed on the database

## Using other python lines before pandas

In [46]:
# Get a cursor
cur = cnx.cursor()

In [47]:
# Execute a query
cur.execute("select * from ncbiRefSeq limit 10")

In [48]:
sql_result = pd.DataFrame()

In [49]:
for i, row in enumerate(cur):
    print(row)
    sql_result.loc[:, i] = row

(585, 'NR_046018.2', 'chr1', '+', 11873, 14409, 14409, 14409, 3, '11873,12612,13220,', '12227,12721,14409,', 0, 'DDX11L1', 'none', 'none', '-1,-1,-1,')
(585, 'NR_024540.1', 'chr1', '-', 14361, 29370, 29370, 29370, 11, '14361,14969,15795,16606,16857,17232,17605,17914,18267,24737,29320,', '14829,15038,15947,16765,17055,17368,17742,18061,18366,24891,29370,', 0, 'WASH7P', 'none', 'none', '-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,')
(585, 'NR_106918.1', 'chr1', '-', 17368, 17436, 17436, 17436, 1, '17368,', '17436,', 0, 'MIR6859-1', 'none', 'none', '-1,')
(585, 'XR_001737835.1', 'chr1', '+', 29925, 31295, 31295, 31295, 3, '29925,30563,30975,', '30039,30667,31295,', 0, 'MIR1302-2HG', 'none', 'none', '-1,-1,-1,')
(585, 'NR_036051.1', 'chr1', '+', 30365, 30503, 30503, 30503, 1, '30365,', '30503,', 0, 'MIR1302-2', 'none', 'none', '-1,')
(585, 'NR_026818.1', 'chr1', '-', 34610, 36081, 36081, 36081, 3, '34610,35276,35720,', '35174,35481,36081,', 0, 'FAM138A', 'none', 'none', '-1,-1,-1,')
(585, 'NM_001005484.1', 'chr1', '+', 69090, 70008, 69090, 70008, 1, '69090,', '70008,', 0, 'OR4F5', 'cmpl', 'cmpl', '0,')
(585, 'XR_001737584.2', 'chr1', '-', 89005, 120798, 120798, 120798, 3, '89005,92090,120774,', '91629,92240,120798,', 0, 'LOC100996442', 'none', 'none', '-1,-1,-1,')
(585, 'XR_001737581.2', 'chr1', '-', 89005, 120814, 120814, 120814, 4, '89005,92090,112699,120720,', '91629,92240,112804,120814,', 0, 'LOC100996442', 'none', 'none', '-1,-1,-1,-1,')
(73, 'XR_001737583.2', 'chr1', '-', 89005, 168093, 168093, 168093, 4, '89005,92090,165883,167963,', '91629,92240,165942,168093,', 0, 'LOC100996442', 'none', 'none', '-1,-1,-1,-1,')

In [50]:
len(row)

16

In [52]:
sql_result.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,585,NR_046018.2,chr1,+,11873,14409,14409,14409,3,"11873,12612,13220,","12227,12721,14409,",0,DDX11L1,none,none,"-1,-1,-1,"
1,585,NR_024540.1,chr1,-,14361,29370,29370,29370,11,"14361,14969,15795,16606,16857,17232,17605,1791...","14829,15038,15947,16765,17055,17368,17742,1806...",0,WASH7P,none,none,"-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,"
2,585,NR_106918.1,chr1,-,17368,17436,17436,17436,1,"17368,","17436,",0,MIR6859-1,none,none,"-1,"
3,585,XR_001737835.1,chr1,+,29925,31295,31295,31295,3,"29925,30563,30975,","30039,30667,31295,",0,MIR1302-2HG,none,none,"-1,-1,-1,"
4,585,NR_036051.1,chr1,+,30365,30503,30503,30503,1,"30365,","30503,",0,MIR1302-2,none,none,"-1,"
5,585,NR_026818.1,chr1,-,34610,36081,36081,36081,3,"34610,35276,35720,","35174,35481,36081,",0,FAM138A,none,none,"-1,-1,-1,"
6,585,NM_001005484.1,chr1,+,69090,70008,69090,70008,1,"69090,","70008,",0,OR4F5,cmpl,cmpl,"0,"
7,585,XR_001737584.2,chr1,-,89005,120798,120798,120798,3,"89005,92090,120774,","91629,92240,120798,",0,LOC100996442,none,none,"-1,-1,-1,"
8,585,XR_001737581.2,chr1,-,89005,120814,120814,120814,4,"89005,92090,112699,120720,","91629,92240,112804,120814,",0,LOC100996442,none,none,"-1,-1,-1,-1,"
9,73,XR_001737583.2,chr1,-,89005,168093,168093,168093,4,"89005,92090,165883,167963,","91629,92240,165942,168093,",0,LOC100996442,none,none,"-1,-1,-1,-1,"

## Using pandas.read_sql

Can read things in directly

In [31]:
df_sql_result = pd.read_sql("select * from ncbiRefSeq limit 10", con=cnx)
df_sql_result

OperationalError: MySQL Connection not available.

## Close connection

In [30]:
cnx.close()

# Postgresql

References:

http://www.postgresqltutorial.com/postgresql-python/connect/

# SQL alchemy with mysqlconnector

In [53]:
from sqlalchemy import create_engine

In [ ]:
# example
engine = create_engine('dialect://user:pass@host:port/schema', echo=False)
f = pd.read_sql_query('SELECT * FROM mytable', engine, index_col = 'ID')

In [54]:
# URI = 'mysql+mysqlconnector://$USER:$PASS@$HOST/$DB'
engine = create_engine('mysql+mysqlconnector://genome@genome-mysql.soe.ucsc.edu/hg38', echo=False)
df = pd.read_sql_query('select * from ncbiRefSeq limit 10', engine)

In [55]:
# holy moly it worked
df

,bin,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,score,name2,cdsStartStat,cdsEndStat,exonFrames
0,585,NR_046018.2,chr1,+,11873,14409,14409,14409,3,"11873,12612,13220,","12227,12721,14409,",0,DDX11L1,none,none,"-1,-1,-1,"
1,585,NR_024540.1,chr1,-,14361,29370,29370,29370,11,"14361,14969,15795,16606,16857,17232,17605,1791...","14829,15038,15947,16765,17055,17368,17742,1806...",0,WASH7P,none,none,"-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,"
2,585,NR_106918.1,chr1,-,17368,17436,17436,17436,1,"17368,","17436,",0,MIR6859-1,none,none,"-1,"
3,585,XR_001737835.1,chr1,+,29925,31295,31295,31295,3,"29925,30563,30975,","30039,30667,31295,",0,MIR1302-2HG,none,none,"-1,-1,-1,"
4,585,NR_036051.1,chr1,+,30365,30503,30503,30503,1,"30365,","30503,",0,MIR1302-2,none,none,"-1,"
5,585,NR_026818.1,chr1,-,34610,36081,36081,36081,3,"34610,35276,35720,","35174,35481,36081,",0,FAM138A,none,none,"-1,-1,-1,"
6,585,NM_001005484.1,chr1,+,69090,70008,69090,70008,1,"69090,","70008,",0,OR4F5,cmpl,cmpl,"0,"
7,585,XR_001737584.2,chr1,-,89005,120798,120798,120798,3,"89005,92090,120774,","91629,92240,120798,",0,LOC100996442,none,none,"-1,-1,-1,"
8,585,XR_001737581.2,chr1,-,89005,120814,120814,120814,4,"89005,92090,112699,120720,","91629,92240,112804,120814,",0,LOC100996442,none,none,"-1,-1,-1,-1,"
9,73,XR_001737583.2,chr1,-,89005,168093,168093,168093,4,"89005,92090,165883,167963,","91629,92240,165942,168093,",0,LOC100996442,none,none,"-1,-1,-1,-1,"

In [58]:
df['name'].unique()

array(['NR_046018.2', 'NR_024540.1', 'NR_106918.1', 'XR_001737835.1',
       'NR_036051.1', 'NR_026818.1', 'NM_001005484.1', 'XR_001737584.2',
       'XR_001737581.2', 'XR_001737583.2'], dtype=object)